.x-icon, .txt {
color: antiquewhite;
}
p {
    padding: 0;
    margin: 0;
}
.x-icon {
    font-size: 12px;
    padding-right: 0.3rem;
    cursor: pointer;
}
.txt {
    padding-left: 0.3rem;
    font-size: 17px;
    font-family: Arial;
    -webkit-user-select: none;
}

.header-container {
    height: 21px;
    border-radius: 5px 5px 0 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 0 0.2rem;
}