
<div class="container">
  <app-container (closeContainer)="closeApp=true" *ngIf="!closeApp">
    <app-input class="input" [isCancelClicked]='isCancelClicked' (inputValue)="saveNameInput($event)"></app-input>
  <hr>
  <app-input class="input" [isCancelClicked]='isCancelClicked' (inputValue)="saveTimeInput($event)" inputType="time" inputLabel="זמן" inputIcon="fa-solid fa-clock"></app-input>
  <div class="dropdown-toggle">
    <app-dropdown [isCancelClicked]='isCancelClicked' [dropdownData]='dropdownData' [dropdownLabel]='dropdownLabel' (dropdownContent)="saveDropdownContent($event)" class="dropdown"></app-dropdown>
    <app-toggle (toggleState)="saveToggleState($event)" class="toggle"></app-toggle>
  </div>
    <div class="button-section">
    <app-button class="cancel-button" buttonTitle="ביטול" buttonId="cancel" (buttonClicked)="hasClicked($event)"></app-button>
    <app-button 
    (buttonClicked)="hasClicked($event)" 
     buttonTitle="שמירה"
     buttonId="save"
     ></app-button>
  </div>
  </app-container>
</div>