.container {
    width: 350px;
    box-shadow: 4px 4px 4px 4px gray;
    border-radius: 5px 5px 5px 5px ;
}
hr {
    background: gray;
    width: 300px;
    margin-inline-start: 34px;
}
.dropdown {
    position: absolute;
    z-index: 1;
    padding-left: 0.5rem;
    top: -0.4rem;  
}
.toggle {
    padding-left: 13.5rem;
}
.dropdown-toggle {
    position: relative;
    display: flex;
    padding-top: 0.4rem;
    padding-bottom: 1.5rem;
}
.cancel-button {
    margin-right: 0.3rem;
}
.button-section {
    display: flex;
    padding-left: 0.4rem;
    padding-bottom: 1rem;
}
footer{
text-align: center;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 14px;
color: aliceblue;
background-color: rgb(0, 0, 0);
border-radius: 2px 2px 5px 5px ;
transition: 0.3s ease-out;
}
footer:hover{
    color: rgb(0, 255, 8);
    transition: 0.3s ease-out;
    -webkit-user-select: none;
}
