
<div class="container">
  <app-header></app-header>
  <app-input></app-input>
  <hr>
  <app-input inputType="time" inputLabel="זמן" inputIcon="fa-solid fa-clock"></app-input>
  <div class="dropdown-toggle">
    <app-dropdown class="dropdown"></app-dropdown>
    <app-toggle class="toggle"></app-toggle>
  </div>
    <div class="button-section">
    <app-button></app-button>
    <app-button 
    [backgroundColor]='backgroundColor' 
    [color]='color' 
    [flex]='flex' 
    [padding]='padding' 
    [fontWeight]='fontWeight' 
    [width]='width' 
    [marginRight]='marginRight' 
     buttonText="שמירה"></app-button>
  </div>

</div>