
<div class="container">
  <app-container (closeContainer)="closeApp=true" *ngIf="!closeApp">
    <app-input class="input" [(inputValue)]="nameInput" inputType="text" inputLabel="שם" inputIcon="fa-solid fa-pencil" inputPlaceholder="שם מלא"></app-input>
  <hr>
  <app-input class="input" [(inputValue)]="timeInput" inputType="time" inputLabel="זמן" inputIcon="fa-solid fa-clock"></app-input>
  <div class="dropdown-toggle">
    <app-dropdown [dropdownData]='dropdownData' [dropdownLabel]='dropdownLabel' class="dropdown" [(dropdownPlaceholder)]="dropdownPlaceholder"></app-dropdown>

    <!-- (onChoose)="saveDropdownContent($event)"
         [isCancelClicked]="isCancelClicked" -->
    <app-toggle [(isChecked)]="toggleState" class="toggle"></app-toggle>
  </div>
    <div class="button-section">
    <app-button class="cancel-button" buttonTitle="ביטול" buttonId="cancel" (buttonClicked)="hasClicked($event)"></app-button>
    <app-button 
    (buttonClicked)="hasClicked($event)" 
     buttonTitle="שמירה"
     buttonId="save"
     ></app-button>
  </div>
  </app-container>
</div>